@import url(design.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300italic,600italic,300,600");

/* Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

html, body {
    font-size: 16pt;
    line-height: 1.65;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    color: #fff;
    background: #1b1f22;
}

body.is-preload * {
    animation: none !important;
    transition: none !important;
}

/* Responsive font sizes */
@media screen and (max-width: 1680px) { html { font-size: 12pt; } }
@media screen and (max-width: 736px) { html { font-size: 11pt; } }
@media screen and (max-width: 360px) { html { font-size: 10pt; } }

/* Typography */
h1, h2, h3, h4, h5, h6 {
    color: #fff;
    font-weight: 600;
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

h1 { font-size: 2.25rem; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1rem; }
h4 { font-size: 0.8rem; }
h5 { font-size: 0.7rem; }
h6 { font-size: 0.6rem; }

p {
    margin-bottom: 2rem;
}

a {
    text-decoration: none;
    color: inherit;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.5);
    transition: color 0.2s, background-color 0.2s, border-bottom-color 0.2s;
}

a:hover { border-bottom-color: transparent; }

/* Form */
form {
    margin-bottom: 2rem;
}

form .fields {
    display: flex;
    flex-wrap: wrap;
    margin: -1.5rem 0 2rem -1.5rem;
}

form .field {
    padding: 1.5rem 0 0 1.5rem;
    width: calc(100% - 1.5rem);
}

form input[type="text"],
form input[type="password"],
form input[type="email"],
form select,
form textarea {
    appearance: none;
    border: 1px solid #fff;
    background: transparent;
    color: inherit;
    padding: 0 1rem;
    border-radius: 4px;
    outline: none;
    width: 100%;
    transition: border-color 0.2s, box-shadow 0.2s, background-color 0.2s;
}

form input:focus,
form textarea:focus,
form select:focus {
    background: rgba(255, 255, 255, 0.075);
    border-color: #fff;
    box-shadow: 0 0 0 1px #fff;
}

/* Buttons */
button, .button, input[type="submit"], input[type="reset"], input[type="button"] {
    appearance: none;
    border: 0;
    border-radius: 4px;
    background: transparent;
    color: #fff !important;
    font-size: 0.8rem;
    font-weight: 300;
    line-height: 2.75rem;
    padding: 0 1.25rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
    text-align: center;
}

button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover {
    background: rgba(255, 255, 255, 0.075);
}

button:active,
input[type="submit"]:active,
input[type="reset"]:active {
    background: rgba(255, 255, 255, 0.175);
}

/* Misc */
hr {
    border: 0;
    border-bottom: 1px solid #fff;
    margin: 2.75rem 0;
}

/* Images */
.image {
    position: relative;
    display: inline-block;
    border: 0;
    border-radius: 4px;
}

.image img {
    border-radius: 4px;
    display: block;
    width: 100%;
}
