@import url(design.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300italic,600italic,300,600");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: inherit;
}

html {
  font-size: 16pt;
  box-sizing: border-box;
}

@media screen and (max-width: 1680px) {
  html { font-size: 12pt; }
}
@media screen and (max-width: 736px) {
  html { font-size: 11pt; }
}
@media screen and (max-width: 360px) {
  html { font-size: 10pt; }
}

body {
  line-height: 1.65;
  background: #1b1f22;
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  -webkit-text-size-adjust: none;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: dotted 1px rgba(255, 255, 255, 0.5);
  transition: color 0.2s, background-color 0.2s, border-bottom-color 0.2s;
}
a:hover {
  border-bottom-color: transparent;
}

strong, b {
  font-weight: 600;
}

em, i {
  font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
  color: #ffffff;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

h1 { font-size: 2.25rem; letter-spacing: 0.5rem; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1rem; }
h4 { font-size: 0.8rem; }
h5 { font-size: 0.7rem; }
h6 { font-size: 0.6rem; }

@media screen and (max-width: 736px) {
  h1 { font-size: 1.75rem; }
  h2 { font-size: 1.25rem; }
}

blockquote {
  margin-bottom: 2rem;
  padding: 0.5rem 0 0.5rem 2rem;
  font-style: italic;
  border-left: solid 4px #ffffff;
}

code, pre {
  font-family: "Courier New", monospace;
  font-size: 0.9rem;
  background: rgba(255, 255, 255, 0.075);
  border-radius: 4px;
}

pre {
  margin-bottom: 2rem;
  padding: 1rem 1.5rem;
  line-height: 1.75;
  overflow-x: auto;
}

ul.actions {
  display: flex;
  list-style: none;
  margin-left: -1rem;
  padding-left: 0;
}
ul.actions li {
  padding-left: 1rem;
}

ul.actions.stacked {
  flex-direction: column;
  margin-left: 0;
}
ul.actions.stacked li:first-child {
  padding-top: 0;
}

#bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  transform: scale(1.0);
  backface-visibility: hidden;
}

#bg:before,
#bg:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#bg:before {
  transition: background-color 2.5s ease-in-out 0.75s;
  background-image: linear-gradient(to top, rgba(19, 21, 25, 0.5), rgba(19, 21, 25, 0.5)), url("../../images/overlay.png");
  background-size: auto, 256px 256px;
  z-index: 2;
}

#bg:after {
  transform: scale(1.125);
  transition: transform 0.325s, filter 0.325s;
  background-image: url("../../images/bg.jpg");
  background-size: cover;
  z-index: 1;
}

body.is-article-visible #bg:after {
  transform: scale(1.0825);
  filter: blur(0.2rem);
}

#wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  min-height: 100vh;
  width: 100%;
  padding: 4rem 2rem;
  z-index: 3;
}

@media screen and (max-width: 1680px) {
  #wrapper { padding: 3rem 2rem; }
}

@media screen and (max-width: 736px) {
  #wrapper { padding: 2rem 1rem; }
}

@media screen and (max-width: 480px) {
  #wrapper { padding: 1rem; }
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform 0.325s, filter 0.325s, opacity 0.325s;
}

#header .logo {
  width: 5.5rem;
  height: 5.5rem;
  line-height: 5.5rem;
  border: 1px solid #ffffff;
  border-radius: 50%;
}

#header .logo .icon:before {
  font-size: 2rem;
}

#header .content {
  padding: 3rem 2rem;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  max-height: 40rem;
}

@media screen and (max-width: 736px) {
  #header .logo { width: 4.75rem; height: 4.75rem; }
  #header .logo .icon:before { font-size: 1.75rem; }
  #header .content { padding: 2.5rem 1rem; }
}

@media screen and (max-width: 480px) {
  #header {
    padding: 1.5rem 0;
  }
  #header nav ul {
    flex-direction: column;
  }
}

#header nav ul {
  display: flex;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
  border: 1px solid #ffffff;
  border-radius: 4px;
}

#header nav ul li a {
  display: block;
  min-width: 7.5rem;
  height: 2.75rem;
  line-height: 2.75rem;
  padding: 0 1.25rem 0 1.45rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  border-bottom: 0;
}

#header nav ul li a:hover {
  background-color: rgba(255, 255, 255, 0.075);
}

body.is-preload #header {
  filter: blur(0.125rem);
}

@media screen and (max-width: 736px) {
  #header .content p br { display: none; }
}

#main {
  flex: 1 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
