body.is-preload #bg:before { background-color: transparent; }
body.is-preload #header, body.is-preload #header > *, body.is-preload #header .content .inner {
    filter: none;
    opacity: 1;
}
body.is-preload #header .content .inner {
    max-height: none;
    padding: 3rem 2rem;
}
#main article {
    opacity: 1;
    margin-top: 4rem;
}
